@font-face {
    font-family: Avenir;
    src: url(../font/Avenir.otf);
}
@font-face {
    font-family: Avenir-Black;
    src: url(../font/Avenir-Black.otf);
}
@font-face {
    font-family: Avenir-Roman;
    src: url(../font/Avenir-Roman.otf);
}



*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

div {
    position: relative;
}


.home{
    background-color: rgb(250, 250, 250);
    position: relative;
    
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

/* index.html*/

.message{
    position: inherit;
}

.message > * {
    position: inherit;
}

.welcome-to {
    font-family: Avenir,sans-serif;
    color: #e0643a;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 16%;
}

.aiguard {
    font-family: Avenir-Black, sans-serif;
    color: #011318;
    font-size: 5.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4%;

}

.slogan {
    font-family: Avenir, sans-serif;
    color: #a5a8ac;
    font-size:  2rem;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    margin-top: 1%;

}

.machine-logo{
    text-align: center;
    vertical-align: center;
}


.machine-logo img {
    display: inline-block;
    width: 55%;
    height: auto;
    z-index: 2;
}

.startbutton{
    text-decoration: none;
    font-family: Avenir, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
    text-align: center;
    color: #fff;
    background: #172258;
    border-radius: 15px;
    padding: 3%;
    width: 78%;
    height: 20%;
    margin: 10% auto;
}



/* country.html */
.start{
    font-family: Avenir-Black , sans-serif;
    color: #151515;
    font-size: 3rem;
    font-weight: 900;
    margin: 15% 40% 5% 7%;
    /*margin: 8vh 40vw 2vh 4vw;*/
}

.progressbar-1 {
    background-color: #dfddde;
    width: 84%;
    height: 6%;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
}

.progressbar-1 .colorrectangle-1 {
    position: absolute;
    background-color: #e0643a;
    width: 25%;
    border-radius: 15px;
    height: 100%;
}

.selectcountry {
    color: #011318;
    font-family: Avenir-Black, sans-serif;
    font-size: 3.5rem;
    margin-top: 9%;
    margin-left: 7%;

}

.choosecountry {
    color: #011318;
    font-family: Avenir-Roman, sans-serif;
    margin-top: 2%;
    font-size: 0.5em;
}

.countryselection{
    display: grid;
    grid-gap: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


.inputbtn{
    display: none;
}


.lblradio{
    color: rgb(0, 0, 0);
    font-family: Avenir-Black, sans-serif;
    font-size: 2.5rem;
    background-color: #e2eaf8;
    margin-bottom: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 4%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

input[type=radio]:checked + .lblradio {
    background-color: #26c2f1;
}

.next .nextbtn{
    display: block;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}





/* language.html*/

.next-step{
    font-family: Avenir-Black , sans-serif;
    color: #151515;
    font-size: 3rem;
    font-weight: 900;
    margin: 15% 40% 5% 7%;
}

.progressbar-2 {
    background-color: #dfddde;
    width: 84%;
    height: 6%;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
}

.progressbar-2 .colorrectangle-2 {
    position: absolute;
    background-color: #e0643a;
    width: 50%;
    border-radius: 15px;
    height: 100%;
}

.selectlanguage {
    color: #011318;
    font-family: Avenir-Black, sans-serif;
    font-size: 3.5rem;
    margin-top: 9%;
    margin-left: 7%;
}

.chooselanguage {
    color: #011318;
    font-family: Avenir-Roman, sans-serif;
    margin-top: 2%;
    font-size: 0.5em;
}


.languageselection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.lang-inputbtn{
    display: none;
}


.lblradio-2{
    color: rgb(0, 0, 0);
    background-color: #e2eaf8;
    margin-bottom: 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 20%;
}

input[type=radio]:checked + .lblradio-2 {
    background-color: #26c2f1;
}


.next-2 .nextbtn-2 {
    display: block;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}

/* workflow.html */

.almost-there{
    font-family: Avenir-Black , sans-serif;
    color: #151515;
    font-size: 3rem;
    font-weight: 900;
    margin: 15% 40% 5% 7%;
}

.progressbar-3 {
    background-color: #dfddde;
    width: 84%;
    height: 6%;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
    
}

.progressbar-3 .colorrectangle-3 {
    position: absolute;
    background-color: #e0643a;
    width: 75%;
    border-radius: 15px;
    height: 100%;
}

.chooseworkflow {
    color: #011318;
    font-family: Avenir-Black, sans-serif;
    font-size: 3.5rem;
    margin-top: 9%;
    margin-left: 7%;
}

.chooseworkflow-subtext {
    color: #011318;
    font-family: Avenir-Roman, sans-serif;
    margin-top: 2%;
    font-size: 0.5em;
}

.workflowselection-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.workflowselection-2 {
    display: grid;
    grid-gap: 20px;

}

.workflow-inputbtn{
    display: none;
}


.lblradio-3{
    color: rgb(0, 0, 0);
    background-color: #e2eaf8;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 10%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 15%;
}

.workflowselection-2 .lblradio-3 {
    margin-top: 10%;
    width: 35%;
    padding: 5%;
}


input[type=checkbox]:checked + .lblradio-3 {
    background-color: #26c2f1;
}

.next-3 .nextbtn-3 {
    display: block;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}



/*  workflow_confirm.html */


.workflow-confirm-design {
    color: rgb(0, 0, 0);
    font-family: Avenir-Black, sans-serif;
    font-size: 2.5rem;
    background-color: #e2eaf8;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 4%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.progressbar-4 {
    background-color: #dfddde;
    width: 84%;
    height: 6%;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
    
}

.progressbar-4 .colorrectangle-4 {
    position: absolute;
    background-color: #e0643a;
    width: 90%;
    border-radius: 15px;
    height: 100%;
}

.confirmworkflow {
    color: #011318;
    font-family: Avenir-Black, sans-serif;
    font-size: 3.5rem;
    margin-top: 9%;
    margin-left: 7%;
}

.confirmworkflow-subtext {
    color: #011318;
    font-family: Avenir-Roman, sans-serif;
    margin-top: 2%;
    font-size: 0.5em;
}

.next-4 .nextbtn-4 {
    display: block;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}



/*  complete.html */

.congratulations{
    font-family: Avenir-Black , sans-serif;
    color: #151515;
    font-size: 3rem;
    font-weight: 900;
    margin: 15% 40% 5% 7%;
}

.progressbar-5 {
    background-color: #dfddde;
    width: 84%;
    height: 6%;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
    
}

.progressbar-5 .colorrectangle-5 {
    position: absolute;
    background-color: #e0643a;
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.completemsg {
    font-family: Anveir-Black, sans-serif;
    color: #011318;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 20%;

}

.complete-logo {
    display: block;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

.config-message {
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 1.5rem;
}

.next-5 .nextbtn-5 {
    display: block;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}

